
.container-fluid
{
	font-family: "Lobster", serif;

	
}


.jumbotron { 
	color: white; 
	font-style: normal;
	font-family: "Lobster", serif;
	font-size: 20px;

}


body { padding-top: 70px; }

#mission {

	color: white;
}


#social-buttons button {
color: white;
}
.btn-twitter {
background-color: grey;
border-color: black;
}
.btn-facebook {
background-color: grey;
border-color: black;
}
.btn-linkedin {
background-color: grey;
border-color: black;
}

.jumbotron {
min-height: 600px;
background-image: url('images/happy.jpg');
background-size: cover;
background-attachment: fixed;

