.col-sm-4{
	color: white;
}


.container-fluid
{
	font-family: "Lobster", serif;


}

#buzz{
	font-family: "Lobster", serif;

}

.container { 
	 
	font-style: normal;
	font-family: "Lobster", serif;
	font-size: 20px;

}



p{
	color: white;
}